/* Content */

a {
    @apply text-gray-600;

    :hover {
        @apply underline;
    }

    &.accent {
        color: #3182ce;
    }
}

h1 {
    @apply text-xl font-semibold;
}

/* Utilities */

.text-muted {
    @apply text-gray-500;
}

.text-muted a {
    @apply text-gray-600;
}

.text-muted a:hover {
    @apply text-gray-600 underline;
}

/* Sidebar */

aside {
    background-color: #1F2631;
    /* 484F5A */
}

/* Forms */

.form-group {
    @apply mb-3;

    label {
        @apply text-sm block w-full mb-2;
    }
}

.form-control {
    @apply px-2 py-1 w-full border border-gray-300;
    height: 35px;
}

.form-control:disabled {
    @apply cursor-not-allowed;
}

.form-error {
    @apply text-red-500 mt-1 text-sm font-bold;
}

footer {
    @apply text-center text-sm my-6;
}

.post {
    word-break: break-word;

    img {
        max-width: 270px;
        max-height: 200px;
        vertical-align: baseline;
        display: inline;
    }

    a {}
}

/* Badges */

.badge {
    @apply text-xs rounded py-1 px-2 text-white;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.sticker-inline {
    max-height: 24px !important;
    vertical-align: middle !important;
}

.sticker {
    max-width: 68px !important;
    max-height: 51px !important;
    vertical-align: baseline !important;
}

blockquote,
.blockquote,
.quote {
    & > & {
        margin-bottom: 0;
    }
}

* {
    /* transition: all ease-in-out .2s;
    transition-delay: 0ms;
    transition-property: background, color, text-shadow, shadow, border-color; */
}

.animated {
    transition-duration: .20s !important;
}

.page-title {
    @apply font-bold text-lg;
}

.tablike-nav {
    @apply -mx-1 px-2 relative;
    margin-bottom: 6px;

    > li {
        @apply mx-1 relative;
        display: inline;
        color: #9D9BB1;
    }

    > li.active {
        color: #272A2F;
    }

    > li.active::after {
        @apply absolute z-10;
        background: #272A2F;
        left: 0; right: 0;
        bottom: -8px;
        height: 2px;
        content: '';
    }
}

.tablike-nav::after {
    @apply absolute;
    background: #E8EBF1;
    left: 0.25rem; right: 0.25rem;
    bottom: -6px;
    height: 1px;
    content: '';
}

/* Buttons */

.btn {
    @apply inline-block px-4 py-2 font-bold text-center text-gray-700 border rounded;
    border-color: rgba(0, 0, 0, 0);
    transition: all .2s ease 0s;

    &:hover {
        @apply no-underline
    }

    &.disabled, &.disabled:hover {
        @apply cursor-not-allowed;
    }
}

.btn-lg {
    @apply px-4 py-2;
}

.btn-sm {
    @apply text-sm px-2 py-1;
}

.btn-primary {
    @apply text-white;
    background-color: #1484FF;
    border-color: #0A7AF4;

    &:hover { }
    &.active { }
}

.btn-secondary {
    color: #989AA7;
    background-color: #E8EAF0;
    border-color: #E8EAF0;

    &:hover { }
}

.btn-tertiary {
    color: #2980E0;
    border-color: #EBECF0;

    &:hover { }
}

/* Cards */

.card {
    @apply p-6 mb-2;
    @apply rounded;
    @apply border;
    border-color: rgba(0, 0, 0, 0);

    &.hoverable {
        @apply cursor-pointer;
        transition: all .2s ease 0s;

        &:hover {
            @apply !important;
            background-color: #E8EAF0;
        }
    }

    &.selected {
        background-color: #E8EAF0;
        border-color: #D9DAE5;
    }
}

.cards {
    @apply p-4;
}

.overflow-y-auto>.cards {
    @apply pr-1;
}

.content {
    @apply bg-white border-l;
    border-color: #D9DAE5;
}

.badge {
    color: #fff;
}

.badge:hover {
    color: #fff;
}

.badge-primary {
    background-color: #1890ff;
}

.badge-danger {
    background-color: #F45454;
}

blockquote {
    @apply bg-white border border-gray-300 my-2;
}

.bg-gold-600 {
    background-color: #FBC02D;
}

/* Integration */

.integration {
    @apply bg-white w-full border;
}

.integration-text {
    @apply border-t text-right bg-white p-4;
}

.round-scrollbar {
    overflow: auto;
    overflow: overlay;
    -webkit-overflow-scrolling: touch;
}

/* .dark .overflow-y-auto::-webkit-scrollbar-thumb {
    background: #5d666d;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 5px
} */

.h1 {
    color: #1b1b1b;
    background-image: linear-gradient(120deg,#9fbbda,#9fbbda);
    background-repeat: no-repeat;
    background-size: 100% 45%;
    background-position: 0 100%;
}