body {
    @apply text-gray-700 bg-gray-200;
}

/* Content */

a {
    @apply text-gray-600;
}

a:hover {
    @apply underline;
}

a.accent {
    @apply text-blue-600;

    &:hover {
        @apply text-blue-500;
    }
}

/* Navigation */

nav {
    @apply w-full py-2 mb-6 bg-gray-800;

    .nav-link {
        @apply mx-2 font-semibold text-gray-600;

        &:hover {
            @apply no-underline text-gray-500;
        }

        &.active {
            @apply text-white;
        }

        &.push {
            margin-right: auto !important;
        }
    }
}

.header {
    @apply w-full bg-white -mt-6 mb-6 py-6 border-b;
}

/* Utilities */

.text-muted {
    @apply text-gray-500;
}

.text-muted a {
    @apply text-gray-600;
}

.text-muted a:hover {
    @apply text-gray-600 underline;
}

header {
    background: #2C3E50;
}

/* aside {
    @apply -ml-16 w-16 fixed top-0 bottom-0 py-2;
}

.aside-brand {
    @apply text-center px-1 py-4;
}

.aside-nav {
    @apply text-center px-1 py-2;
}

.aside-nav > li {
    @apply block text-center;
}

.aside-nav > li > a, .aside-nav > li button {
    @apply block px-1 py-2;
} */

header {
    @apply w-full py-4;
}

/* nav {
    @apply w-full py-2;
} */

/* .nav-link {
    @apply mb-1;
}

@screen sm {
    .nav-link {
        @apply mb-0;
    }
} */

/* Forms */

.form-group {
    @apply mb-3;

    label {
        @apply text-sm block w-full mb-2;
    }
}

.form-control {
    @apply px-2 py-1 w-full border border-gray-300;
    height: 35px;
}

.form-control:disabled {
    @apply cursor-not-allowed;
}

.form-error {
    @apply text-red-500 mt-1 text-sm font-bold;
}

footer {
    @apply text-center text-sm my-6;
}

.post {
    word-break: break-word;

    img {
        max-width: 270px;
        max-height: 200px;
        vertical-align: baseline;
        display: inline;
    }

    a {}
}

.badge {
    @apply text-xs font-bold bg-gray-500 rounded;
    display: inline-block;
    padding: .25em .4em;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.sticker-inline {
    max-height: 24px !important;
    vertical-align: middle !important;
}

.sticker {
    max-width: 68px !important;
    max-height: 51px !important;
    vertical-align: baseline !important;
}

blockquote,
.blockquote,
.quote {
    & > & {
        margin-bottom: 0;
    }
}

* {
    /* transition: all ease-in-out .2s;
    transition-delay: 0ms;
    transition-property: background, color, text-shadow, shadow, border-color; */
}

.animated {
    transition-duration: .20s !important;
}

.popper__arrow {
    transition: none !important;
}

.page-title {
    @apply font-bold text-lg;
}

.tablike-nav {
    @apply -mx-1 px-2 relative;
    margin-bottom: 6px;

    > li {
        @apply mx-1 relative;
        display: inline;
        color: #9D9BB1;
    }

    > li.active {
        color: #272A2F;
    }

    > li.active::after {
        @apply absolute z-10;
        background: #272A2F;
        left: 0; right: 0;
        bottom: -8px;
        height: 2px;
        content: '';
    }
}

.tablike-nav::after {
    @apply absolute;
    background: #E8EBF1;
    left: 0.25rem; right: 0.25rem;
    bottom: -6px;
    height: 1px;
    content: '';
}

/* Buttons */

.btn {
    @apply inline-block px-4 py-2 font-bold text-center text-gray-700;

    transition: all .2s ease 0s;
    &:hover {
        @apply no-underline
    }
}

.btn-lg {
    @apply px-4 py-2;
}

.btn-sm {
    @apply text-sm px-2 py-1;
}

.btn-primary {
    @apply text-white shadow bg-gray-600;

    &:hover {
        @apply text-white shadow-md bg-gray-700;
    }

    &.active {
        @apply bg-gray-800;
    }
}

.btn-secondary {
    @apply bg-gray-200 shadow text-gray-600;

    &:hover {
        @apply shadow-md text-gray-800;
    }
}

.btn-tertiary {
    @apply text-gray-500;

    &:hover {
        @apply text-gray-600;
    }

    &.disabled, &.disabled:hover {
        @apply cursor-not-allowed text-gray-300;
    }
}

/* Cards */

.card {
    @apply border bg-white;
}

.cards {
    @apply border rounded;

    >.card {
        @apply rounded-none border-0 border-b;
    }

    >.card:last-child {
        @apply border-b-0;
    }

    >.card:nth-child(2n) {
        @apply bg-gray-100;
    }
}

.hoverable {
    @apply cursor-pointer;
    transition: all .2s ease 0s;

    &:hover {
        @apply bg-gray-200 !important;
    }
}

.badge {
    color: #fff;
}

.badge:hover {
    color: #fff;
}

.badge-primary {
    background-color: #1890ff;
}

.badge-danger {
    background-color: #F45454;
}

blockquote {
    @apply bg-white border border-gray-300 my-2;
}

.text-base-folder {
    color: #FBC02D;
}

.popper {
    @apply rounded-none shadow-lg p-0 text-left;
    width: 270px;
    background-color: rgb(255, 255, 255);
}

.popper ul {
    @apply m-4;
}

.popper ul>li {
    @apply w-full mb-2;
}

.popper ul>li>a {
    @apply block w-full;
}

.bg-accent {
    background: var(--bg-accent);
}

/* Integration */

.integration {
    @apply bg-white w-full border;
}

.integration-text {
    @apply border-t text-right bg-white p-4;
}