nav {
    @apply w-full py-2 mb-4;
    background-color: #2C2C32;
}

.subnav {
    @apply w-full py-4 -mt-4 mb-4;
    background-color: #25252B;
    color: #fff;

    .text-muted {
        color: #ccc;
    }

    .btn-secondary {
        color: #9E9E9E !important;
        background-color: #3D3D42 !important;
    }
}

nav .nav-link {
    @apply mx-2 font-medium;
    color: #A8A8A8!important;

    &.active {
        color: #fff;
    }

    &.push-right {
        margin-right: auto !important;
    }
}

/* aside {
    @apply -ml-16 w-16 fixed top-0 bottom-0 py-2;
}

.aside-brand {
    @apply text-center px-1 py-4;
}

.aside-nav {
    @apply text-center px-1 py-2;
}

.aside-nav > li {
    @apply block text-center;
}

.aside-nav > li > a, .aside-nav > li button {
    @apply block px-1 py-2;
} */

header {
    @apply w-full py-4;
}

/* nav {
    @apply w-full py-2;
} */

/* .nav-link {
    @apply mb-1;
}

@screen sm {
    .nav-link {
        @apply mb-0;
    }
} */

.form-control {
    @apply rounded px-2 py-1
}

.form-control:disabled {
    @apply cursor-not-allowed;
}

.btn {
    @apply inline-block px-2 py-1 font-bold text-center;
}

.btn-lg {
    @apply px-4 py-2;
}

.btn-xs {
    @apply text-xs px-3 py-1;
}

.card {
    @apply rounded;
}

.hoverable {
    @apply cursor-pointer;
}

footer {
    @apply text-center text-xs;
}

.post {
    word-break: break-word;

    img {
        max-width: 270px;
        max-height: 200px;
        vertical-align: baseline;
        display: inline;
    }

    a {}
}

.badge {
    @apply text-xs font-bold bg-gray-500 rounded;
    display: inline-block;
    padding: .25em .4em;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.sticker-inline {
    max-height: 24px !important;
    vertical-align: middle !important;
}

.sticker {
    max-width: 68px !important;
    max-height: 51px !important;
    vertical-align: baseline !important;
}

blockquote {
    @apply p-4 rounded;
}

blockquote,
.blockquote,
.quote {
    & > & {
        margin-bottom: 0;
    }
}

* {
    /* transition: all ease-in-out .2s;
    transition-delay: 0ms;
    transition-property: background, color, text-shadow, shadow, border-color; */
}

.animated {
    transition-duration: .20s !important;
}

.popper__arrow {
    transition: none !important;
}

.page-title {
    @apply font-bold;
}

.tablike-nav {
    @apply -mx-1 px-2 relative;
    margin-bottom: 6px;

    > li {
        @apply mx-1 relative;
        display: inline;
        color: #9D9BB1;
    }

    > li.active {
        color: #272A2F;
    }

    > li.active::after {
        @apply absolute z-10;
        background: #272A2F;
        left: 0; right: 0;
        bottom: -8px;
        height: 2px;
        content: '';
    }
}

.tablike-nav::after {
    @apply absolute;
    background: #E8EBF1;
    left: 0.25rem; right: 0.25rem;
    bottom: -6px;
    height: 1px;
    content: '';
}
