body.theme-4sucres {
    @apply bg-gray-200 text-gray-700;
}

.theme-4sucres {
    hr {
        @apply bg-gray-300;
        height: 1px;
    }

    .text-muted {
        @apply text-gray-500;
    }

    a {
        @apply text-gray-600;
    }

    a:hover {
        @apply text-gray-500;
    }

    a.accent {
        @apply text-blue-600;
    }

    a.accent:hover {
        @apply text-blue-500;
    }

    a.accent:visited {
        /* @apply line-through; */
    }

    .text-muted a {
        @apply text-gray-600;
    }

    .text-muted a:hover {
        @apply text-gray-600 underline;
    }

    header {
        background: #2C3E50;
    }

    nav {
        @apply border-t border-gray-700;
        background: #34495E;
    }

    .form-control {
        @apply border border-gray-300;
    }

    .form-control.form-control-inverse {
        @apply border-0 bg-gray-700 text-white;
    }

    .nav-link {
        @apply text-gray-500 relative;
    }

    .nav-link:hover, .nav-link:focus {
        @apply text-gray-400;
    }

    .nav-link.active {
        @apply text-white;
    }

    @screen md {
        .nav-link.active::after {
            @apply absolute;
            background: #1890ff;
            left: 0; right: 0;
            bottom: -8px;
            height: 2px;
            content: '';
            box-shadow: 0 -4px 10px #1890ff, 0 -1px 5px #1890ff;
        }
    }

    .nav-fa-stack {
        :first-child::before {
            color: #34495E;
        }

        :last-child::before {
            @apply text-gray-300;
        }
    }

    .nav-fa-stack:hover, .nav-fa-stack:focus, .nav-fa-stack.active {
        :last-child::before {
            @apply text-white;
        }
    }

    .nav-fa-stack.active {
        :first-child::before {
            color: #1890ff;
        }
    }

    .btn {
        @apply text-gray-700 rounded;
    }

    .btn-primary {
        @apply text-white border shadow;
        background: #1890ff;
        border-color: #1890ff;
    }

    .btn-primary:hover {
        @apply text-white border;
        background: #40a9ff;
        border-color: #40a9ff;
    }

    .btn-secondary {
        @apply bg-white border border-gray-200 shadow;
    }

    .btn-secondary:hover {
        @apply;
        color: #1890ff;
        border-color: #1890ff;
    }

    .btn-tertiary {
        @apply bg-white;
        color: #1890ff;
    }

    .btn-tertiary:hover {
        @apply bg-blue-100;
        color: #1890ff;
    }

    .btn-tertiary.disabled, .btn-tertiary.disabled:hover {
        @apply cursor-not-allowed text-gray-500 bg-white;
    }

    .card {
        @apply bg-white shadow;
    }

    .cards {
        @apply shadow rounded;

        .card {
            @apply rounded-none shadow-none border-b border-gray-300;
        }

        .card:first-child {
            @apply rounded-t;
        }

        .card:last-child {
            @apply rounded-b border-b-0;
        }

        .card:nth-child(even) {
            @apply bg-gray-100;
        }
    }

    .hoverable:hover {
        @apply bg-gray-200 !important;
    }

    .badge {
        color: #fff;
    }

    .badge:hover {
        color: #fff;
    }

    .badge-primary {
        background-color: #1890ff;
    }

    blockquote {
        @apply bg-white shadow border border-gray-300 p-2 mb-1;
    }

    .text-base-folder {
        color: #FBC02D;
    }
}