body.theme-4sucres {
    @apply text-gray-700;
}

.theme-4sucres {
    aside {
        background: #1F2531;
    }

    .aside-nav {
        @apply text-center py-2 px-0;
    }

    .aside-nav > li {
        @apply block text-center;
    }

    .aside-nav > li > a, .aside-nav > li button {
        @apply block text-center w-full;
        color: #BBC9D9;
    }

    .aside-nav > li > a:hover, .aside-nav > li button:hover {
        color: #EEF4FE;
        background: rgba(0, 0, 0, .5);
    }

    .aside-nav > li > a.active, .aside-nav > li button.active,
    .aside-nav > li > a:focus, .aside-nav > li button:focus {
        color: #EEF4FE;
        background: rgba(0, 0, 0, .5);
    }

    .text-muted {
        @apply text-gray-500;
    }

    a {
        @apply text-gray-600;
    }

    a:hover {
        @apply text-gray-500;
    }

    a.accent {
        @apply text-blue-600;
    }

    a.accent:hover {
        @apply text-blue-500;
    }

    a.accent:visited {
        /* @apply line-through; */
    }

    .text-muted a {
        @apply text-gray-600;
    }

    .text-muted a:hover {
        @apply text-gray-600 underline;
    }

    header {
        background: #2C3E50;
    }

    nav {
        @apply border-t border-gray-700;
        background: #34495E;
    }

    .form-control {
        @apply border border-gray-300;
    }

    .form-control.form-control-inverse {
        @apply border-0 bg-gray-700 text-white;
    }

    .nav-link {
        @apply text-gray-500 relative;
    }

    .nav-link:hover, .nav-link:focus {
        @apply text-gray-400;
    }

    .nav-link.active {
        @apply text-white;
    }

    @screen md {
        .nav-link.active::after {
            @apply absolute;
            background: #1890ff;
            left: 0; right: 0;
            bottom: -8px;
            height: 2px;
            content: '';
            box-shadow: 0 -4px 10px #1890ff, 0 -1px 5px #1890ff;
        }
    }

    .nav-fa-stack {
        :first-child::before {
            color: #34495E;
        }

        :last-child::before {
            @apply text-gray-300;
        }
    }

    .nav-fa-stack:hover, .nav-fa-stack:focus, .nav-fa-stack.active {
        :last-child::before {
            @apply text-white;
        }
    }

    .nav-fa-stack.active {
        :first-child::before {
            color: #1890ff;
        }
    }

    .btn {
        @apply text-gray-700 rounded;
        transition: all .2s ease 0s;
    }

    .btn-primary {
        @apply text-white shadow-md;
        background: #3D81FC;
    }

    .btn-primary:hover {
        @apply text-white shadow-lg;
        background: rgb(87, 148, 255);
    }

    .btn-secondary {
        @apply bg-white shadow-md;
        color: rgb(56, 128, 255);
    }

    .btn-secondary:hover {
        @apply shadow-lg;
        color: rgb(97, 154, 255);
    }

    .btn-tertiary {
        @apply bg-white;
        color: #1890ff;
    }

    .btn-tertiary:hover {
        @apply bg-blue-100;
        color: #1890ff;
    }

    .btn-tertiary.disabled, .btn-tertiary.disabled:hover {
        @apply cursor-not-allowed text-gray-500 bg-white;
    }

    .card {
        @apply bg-white shadow;
    }

    .cards {
        .card {
            @apply rounded-none shadow-none border-b;
            border-color: #EBEDF3;
        }

        .card:last-child {
            @apply border-b-0;
        }
    }

    .hoverable {
        transition: all .2s ease 0s;
    }

    .hoverable:hover {
        @apply bg-gray-100;
        transform: scale(1.01);
    }

    .badge {
        color: #fff;
    }

    .badge:hover {
        color: #fff;
    }

    .badge-primary {
        background-color: #1890ff;
    }

    blockquote {
        @apply bg-white shadow border border-gray-300 p-2 mb-1;
    }

    .text-base-folder {
        color: #FBC02D;
    }

    .popper {
        @apply rounded shadow-lg w-64 p-0 text-left;
        background-color: rgb(255, 255, 255);
    }

    .popper ul {
        @apply m-4;
    }

    .popper ul>li {
        @apply w-full mb-2;
    }

    .popper ul>li>a {
        @apply block w-full;
    }
}